<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WIZZ TECH</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="img/favicon.ico" rel="icon">


  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- test -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a19edc713a.js" crossorigin="anonymous"></script>

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center " style="background-color: rgb(39, 37, 37); ">
   

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block" style="color:white;">WIZZ</span> <span class="d-none d-lg-block" style="color:  #FFD333;;">TECH</span>
      </a>
      
      <i class="bi bi-list toggle-sidebar-btn" style="color: #FFD333;"></i>
      
      
    </div><!-- End Logo -->

    

    <nav class="nav ms-auto">
      


        <li class="nav-item dropdown pe-3">
          

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <i class="fa fa-user" aria-hidden="true"  alt="Profile" ></i>

            <span class="d-none d-md-block  ps-2" style="color: #FFD333;"> 
              Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar"  >

    <ul class="sidebar-nav " id="sidebar-nav" >

      <li class="nav-item"  >
        <a class="nav-link " href="/admin"  style="background-color:#FFD333;color: black;">
          <i class="bi bi-grid" style="color: black;" ></i>
          <span style="color: black;">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"  style="background-color:#FFD333;color: black;">
          <i class="bi bi-menu-button-wide" style="color: black;"></i><span>CATEGORY</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/category" style="background-color:#FFD333;color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span >CATEGORY</span>
            </a>
          </li>
          <li>
            <a href="/admin/addcategory" style="background-color:#FFD333;color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span>ADD CATEGORY</span>
            </a>
          </li>
          
         
          
         
          
        
          
          
         
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" style="background-color:#FFD333;color: black;">
          <i class="fa-solid fa-layer-group" style="color: black;"></i><span>PRODUCTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/products"  style="background-color:#FFD333;color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span>PRODUCTS </span>
            </a>
          </li>
          <li>
            <a href="/admin/addproduct"  style="background-color:#FFD333; color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span>ADD PRODUCTS </span>
            </a>
          </li>
          
         
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#tables-nav"  href="/admin/order"  style="background-color:#FFD333;color: black">
          <i class="fa fa-truck-fast" style="color: black;"></i><span>ORDERS</span>
        </a>
        
      </li><!-- End Tables Nav -->
      <li class="nav-item">
        <a class="nav-link " data-bs-target=""  href="/admin/customer"  style="background-color:#FFD333; color: black;">
          <i class="fa-solid fa-users" style="color: black;"></i><span>CUMSTOMERS</span>
        </a>
        
      </li>
      <!-- End Tables Nav -->


      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"  style="background-color:#FFD333; color: black;">
          <i class="fa-brands fa-dropbox" style="color: black;"></i><span>cupons</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/coupon"  style="background-color:#FFD333; color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span>cupons</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupon/addCoupon"  style="background-color:#FFD333; color: black;">
              <i class="bi bi-circle" style="color: black;"></i><span>Add cupons</span>
            </a>
          </li>
        
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#banners-nav" data-bs-toggle="collapse" href="#" style="background-color:#FFD333; color: black;">
            <i class="bi bi-image" style="color: black;"></i><span>Banners</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="banners-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="/admin/banner" style="background-color:#FFD333; color: black;">
                    <i class="bi bi-circle" style="color: black;"></i><span>Banners</span>
                </a>
            </li>
            <li>
                <a href="/admin/banner/add" style="background-color:#FFD333; color: black;">
                    <i class="bi bi-circle" style="color: black;"></i><span>Add Banner</span>
                </a>
            </li>
        </ul>
    </li>
    
      
      <!-- End Icons Nav -->
      <div class="d-flex justify-content-center mt-4">
      <a href="/admin/logout"><button type="button" class="btn btn-warning">Logout</button></a>
      </div>
  </aside><!-- End Sidebar-->
  
